ion-view
  
  ion-header-bar(class='bar-light')
    button(class='button button-icon icon ion-ios-play' ng-click='seedFeedsAutoPlayStart()' ng-hide='autoplaying')
    button(class='button button-icon icon ion-ios-pause' ng-click='seedFeedsAutoPlayStop()' ng-show='autoplaying')
    h1(class='title') Stream
    button(class='button button-icon icon ion-ios-refresh-empty' ng-click='initSeedFeed()')

    
  
  ion-content(scroll='false')
  
    
    div(id='topSlider' class='swiper-container')
      div(class='swiper-wrapper')
        div(class='seed-feed swiper-slide' ng-repeat='seedFeed in seedFeeds' end-repeat='' on-hold='openPage({{seedFeed}})')
          div(class='title') {{seedFeed.title}}
          div(class='background' style='background:url({{seedFeed.image}}) center center no-repeat; background-size:cover;')
      
    ion-scroll(direction='y' id='middleScrollView' on-swipe-left='seedFeedNext()' on-swipe-right='seedFeedPrev()')
      div(class='feeds')
        div(class='recommend-feed animated fadeIn' ng-repeat='recommendFeed in recommendFeeds' ng-click='insertSeedFeed({{recommendFeed}})' on-hold='stockFeed({{recommendFeed}})')
          img(src='{{recommendFeed.image}}')
          div(class='title') {{recommendFeed.title}}
    div(class='processing_time_toast') 推薦: {{recommend_processing_time}}ms

    ion-scroll(id='stock_icons' direction='x')
      div(class='stock_icon animated bounceIn' ng-repeat='stockFeed in stockFeeds' ng-click='openStockFeed({{stockFeed.id}})' style='background:url({{stockFeed.image}}) center center no-repeat; background-size:cover;')    
      //- div(class='stock_icon animated fadeIn' ng-repeat='stock_icon in stock_icons' style='background:url({{stock_icon.image}}) center center no-repeat; background-size:cover;')
