ion-modal-view
	ion-header-bar(class='bar-light')
		h1(class='title') {{selectedStockFeed.title}}
		div(class='buttons')
			button(class='button' ng-click='closeModal()') 閉じる
	ion-content
		div(class='feedViewContent htmlData' content='selectedStockFeed.content')
//- {{selectedStockFeed.content}}
